{% if mgilet_notification_unseen_count(app.user) == 0 %}
<i class="far fa-bell"></i>
{% else %}
<i class="fas fa-bell notif-counted"></i><span
    class="nav-notif-counter">{{ mgilet_notification_unseen_count(app.user) }}</span>
{% endif %}