{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block body %}
<div class="ui sidebar inverted">
</div>
<div class="pusher">
    <button class="open button"><i class="fas fa-ellipsis-v"></i></button>
</div>
{% endblock %}



