{% extends 'base.html.twig' %}

{% block title %}Strapp - A weird social network{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900" rel="stylesheet">
<link href='styles/main.css' rel='stylesheet' />
<link href='styles/map.css' rel='stylesheet' />
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col left-login">
            <div class="main-logo text-center">
                <h1>Strapp.xyz</h1>
            </div>
            <h2>Login</h2>
            <form action="{{ path('security_login') }}" method="post">
                <div class="form group">
                    <label for='email'>Email</label>
                    <input class="form-control" type="text" name="first-name" placeholder="Email">
                </div>
                <div class="form group">
                    <label for='password'>Password</label>
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <br />
                <div class="form group">
                    <button class="btn btn-primary btn-login" type="submit">Submit</button>
                </div>
                </form>
            </form>
            <a href="{{ path('security_register') }}"> Pas encore inscrit?</a>
        </div>
        <div class="col-10">
            <div id="map"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="js/ui.js"></script>
<script src="js/map/map.js"></script>
{% endblock %}