<div class="comment-form-container">
    {{ form_start(commentForm) }}
    {{ form_row(commentForm.content, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(commentForm.save, {'attr': {'class': 'btn btn-primary form-control btn-standard'}}) }}
    {{ form_end(commentForm) }}
</div>