@font-face {
    font-family: 'porto'; /*a name to be used later*/
    src: url('fonts/porto.ttf'); /*URL to font*/
}
body {
    font-family: 'Playfair Display', serif;
    margin: 0px;
    padding: 0px;
    background-color: #ffda00;
    height: 100vh;
}
.row {
    margin: 0;
}
.container-fluid {
    padding: 0;
}
.col {
    background-color: #ffda00;
    color: #000;
}
.col-10 {
    padding: 0;
}
.main-logo {
    background: #000;
    color: #ffda00;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.left-login a {
    color: #000;
}
.form {
    font-family: 'Playfair Display', serif;
}
.btn-login {
    background-color: #ffda00;
    color: #000;
    border: 1px solid #000;
    width: 100%
}
.btn-login:hover {
    background: #000;
    color: #ffda00;
}
h1, h2 {
    font-family: 'porto';
    font-weight: bold;
}