@font-face {
    font-family: 'porto'; /*a name to be used later*/
    src: url('fonts/porto.ttf'); /*URL to font*/
}
body {
    font-family: 'Playfair Display', serif;
    margin: 0px;
    padding: 0px;
}

#map {
    width: 100%;
    height: 100vh;
}
.sidebar {
    background-color: #ffda00;
    color: #000;
}