@font-face {
    font-family: 'porto';
    /*a name to be used later*/
    src: url('../fonts/porto.ttf');
    /*URL to font*/
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

/** cancel bootstrap */
.btn-primary {
    background-color: transparent;
    border-color: transparent;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #ffda00;
    height: 100vh;
}

.main-logo {
    background: #191919;
    color: #ffda00;
    justify-content: center;
    font-family: 'porto';
}
.homeBtn-white {
    color: #ffffff;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.main-logo h1 {
    line-height: 2;
}
.main-logo h1 a {
    color: #ffda00;
    text-decoration: none;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    padding: .9rem 0;
}
.main-logo h1 a:hover {
    color: #ffffff;
    text-decoration: none;
}
.main-logo h1 a:hover .homeBtn-white {
    color: #ffda00;
    text-decoration: none;
}
.main-logo-img {
    width: 42px;
    height: 42px;
    object-fit: cover;
    object-position: 0 0;
    transition: all .2s ease;
    object-position: 0 0;
}
.main-nav .navbar-brand .homeBtn {
    color: #ffda00;
    font-family: 'porto';
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.homeBtn:hover .main-logo-img {
    object-position: 0 100%;
}

.left-login {
    z-index: 3;
    padding-right: 15px;
    background-color: #ffda00;
    color: #191919;
    width: 23%;
    max-width: 360px;
    min-width: 300px;
	box-shadow: 0 0 .3em 0 #191919;
}

.left-login a {
    color: #191919;
}

/** forms **/
.form-control:focus {
    border-color: #ffda00;
    box-shadow: inset 0px 0px 2px #ffda00;
}

.form {
    font-family: 'Roboto', sans-serif;
}

.btn-login {
    background-color: #ffda00;
    color: #191919;
    border: 1px solid #191919;
    width: 100%;
    margin-bottom: 10px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.btn-login:hover {
    background: #191919;
    color: #ffda00;
    border-color: #191919;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:focus,
.btn-primary.focus {
    box-shadow: none;
    background: #191919;
    color: #ffda00;
    border-color: #191919;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.btn-standard-active {
    background-color: #ffda00;
    color: #191919;
    border: 1px solid #191919;
    width: 100%;
    margin-bottom: 10px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.btn-standard-active:hover {
    background-color: #ffda00;
    color: #191919;
    border: 1px solid #191919;
    width: 100%;
    margin-bottom: 10px;
}

.btn-standard {
    background-color: #ffffff;
    color: #191919;
    border: 1px solid #191919;
    width: 100%;
    margin-bottom: 10px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.btn-standard:hover {
    background: #191919;
    color: #ffda00;
    border-color: #191919;
}

/** alerts **/
.main-flash-container {
    margin-left: 0px;
}

.main-alert {
    color: #191919;
    background: #ffda00;
    margin-top: 5px;
}

.main-row-alert {
    width: 100%;
    text-align: center;
}