#map {
    width: 100%;
    height: 100vh;
}
.index-row {
    margin-right: 0px;
}
.index-container {
    padding-right: 0;
}
.map-container {
    padding: 0;
}
.main-map-app {
    padding-top: 2.6rem;
    max-height: 100%;
    overflow: hidden;
}
.mapboxgl-popup-close-button {
    z-index: 3;
    color: #121212;
}
.mapboxgl-popup {
    max-width: 422px;
}
.mapboxgl-popup-content {
    padding: 0;
}
.row-pin-data {
    flex-wrap: nowrap;
}
.pin-img {
    border-radius: 45px;
}
.pin-spoiler {
    width: 122px;
}
.basic-info-col { 
    width: auto;
    flex: 0 1 auto;
}
@media screen and (max-width: 908px) {
    .row #map {
        width: 100%;
        height: 100vh;
    }
}
@media screen and (min-width: 700px) and (max-width: 1442px) {
    .main-map-app {
        padding-top: 2.9rem;
    }
}
@media screen and (max-width: 700px) {
    .main-map-app {
        padding-top: 3.2rem;
    }
}