@import url('https://fonts.googleapis.com/css?family=Roboto');
/** content **/
.main-content {
    background: rgb(232, 236, 239);
    padding-top: 4rem;
    min-height: 100vh;
}
.container-fluid .refresh-pos-home-btn {
    margin-left: -15px;
}

/** layout */
/** bootstrap tooltips **/
.tooltip-inner {
    color: #ffda00;
}
.search-bar-container .search-bar {
    background-color: #414142;
    border: none;
    color: #ffda00;
    line-height: 1;
    height: calc(1em + .65rem + 2px);
}
.search-bar-container .search-bar:focus {
    box-shadow: none;
}

#navbarNavDropdown .search-bar-container .input-group-append .search-bar-icon {
    background-color: #414142;
    color: #ffda00;
    border: none;
    height: calc(1em + .65rem + 2px);
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    z-index: 3;
}
.search-bar-container .search-result-container {
    position: absolute;
    top: 100%;
    background-color: #414142;
    width: 100%;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    text-align: center;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}
.search-bar-container .search-result-container ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-bottom: 0;
}
.search-bar-container .search-result-container ul li {
    padding: .25rem .25rem;
    text-align: left;
    display: flex;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.search-bar-container .search-result-container ul a {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.search-bar-container .search-result-container ul li:hover {
    background-color: #191919;
}
.search-list-user_avatar {
    width: 40px;
    height: 40px;
}
.search-user-info {
    padding-left: .6rem;
    display: block;
    margin: auto 0;
}
.search-bar-container .search-list-seeall-link {
    font-family: 'Roboto', sans-serif;
}
/** profile card & nav **/
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,218,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler.navbar-toggler {
    border-color: rgb(255, 218, 0);
}

nav {
    background: #191919;
    color: #ffda00;
}
.settings-nav-dropdown {
    left: auto;
    right: 0;
    text-align: center;
}
.settings-nav-dropdown .dropdown-item {
    font-size: .85rem;
}

.main-nav-logo {
    width: 32px;
    height: 32px;
    object-fit: cover;
    object-position: 0 0;
    transition: all .2s ease;
    object-position: 0 0;
}
.main-nav .navbar-brand .homeBtn {
    color: #ffda00;
    font-family: 'porto';
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.homeBtn:hover .main-nav-logo{
    object-position: 0 100%;
}

.homeBtn h1 {
    border-bottom: 0.3px solid #464646;
    padding-top: 5px;
    padding-bottom: 10px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.main-nav .navbar-brand .homeBtn:hover {
    color: #e9ecef;
    text-decoration: none;
}

.nav-item .avatar {
    width: 25px;
    height: 25px;
    border-radius: 20px;
}
.nav-item .nav-name {
    font-size: .85rem;
}
.nav-item .avatar:hover {
    box-shadow: 0 0 0px 1px #ffda00;
}

.profile-card .info {
    padding-top: 10px;
}

.profile-card .info a {
    color: #ffda00;
    cursor: pointer;
}

.main-nav a {
    color: #ffda00;
    cursor: pointer;
    font-family: 'porto';
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.main-nav .new-pin-link {
    color: #ffffff;
}
.nav-item {
    transition: 0.2s;
    border-radius: 5px;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.item-avatar:hover {
    background: #191919;
}

.rating-profile {
    height: 25px;
}

.progress-bar-writer {
    background: #ffda00;
    color: #191919;
}

.progress-bar-reader {
    background: #191919;
    color: #ffda00;
}

.rating-bar-vertical {
    margin-bottom: 5px;
}

.profile-card {
    padding-bottom: 10px;
    width: 100%;
}

.dropdown-menu {
    background: #191919;
}

.dropdown-menu .dropdown-item a {
    color: #ffda00;
}

.dropdown-menu .dropdown-item:hover {
    color: #191919;
    background: #ffda00;
}

.dropdown-divider {
    border-top: 1px solid #ffda00;
}

/** nav notif */
.notif-display-link {
    text-decoration: none;
    color: #191919;
}
.notif-display-link:hover {
    text-decoration: none;
    color: #191919;
}
.nav-notif-show::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ffda00;
    box-shadow: inset 0 0 6px #ffda00;
    background-color: #ffda00;
}

.nav-notif-show::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

.nav-notif-show::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #191919;
}

.spinner-container {
    text-align: center;
    font-size: 1.2rem;
}

.notif-title {
    font-weight: bold;
}
.notif-menu-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.notif-menu-container  .notif-data-link {
    padding: 0 .35em;
}
.nav-notif-show {
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
    max-height: 70vh;
    right: 0;
    left: auto;
}

.nav-notif-show a {
    font-family: 'Roboto', sans-serif;
}

.notif-seen {
    background-color: rgb(232, 236, 239);
}

.notif-divider {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.nav-notif-counter {
    font-size: 0.6rem;
    background: #ffda00;
    color: #191919;
    padding: 0px 2px;
    position: absolute;
    margin-left: -3px;
    border-radius: 3px;
    border: 0.5px solid #191919;
}

.notif-counted {
    color: #e9ecef;
}

.nav-item .nav-notif-show .notif-menu-item {
    color: #191919;
    padding: .3rem .4rem;
    font-size: 0.85rem;
    border-top: 0.4px solid rgba(0, 0, 0, 0.3);
    word-wrap: break-word;
}

/** forms **/
.input-group-text {
    background: #ffda00;
    color: #191919;
}

.avatar-form {
    height: 120px;
    width: 120px;
}

#upload_imageFile_file {
    background: #ffda00;
    color: #191919;
    padding: 5px;
    cursor: pointer;
}

.custom-file-label {
    overflow: hidden;
}

.refresh-loc-link {
    color: #6c757d;
}

.refresh-loc-link:hover {
    color: #ffda00;
}

#mood_mood {
    border: none;
    box-shadow: none;
    display: inline;
    background: #e9ecef;
}

#mood_mood:focus {
    box-shadow: none;
    outline: none;
    border-bottom: 0.1px solid #6c757d;
}

#mood_save {
    display: none;
}

.visible {
    display: block;
}

.muted-btn {
    border: none;
}

.muted-mood div {
    display: inline-block;
}

.area-form-bio {
    width: 100%;
    resize: none;
}

.form-group-bio {
    width: 100%;
}

.form-group-bio div:first-child {
    width: 95%;
}

.bio-update-submit {
    cursor: pointer;
    width: 5%;
    margin-left: -2px;
    z-index: auto;
}

.bio-update-submit span:hover {
    color: #ffda00;
    background: #191919;
}

/** friend list **/
.btn-status-friendship-container {
    position: absolute;
    right: 3px;
    top: 40%;
    display: flex;
}

.btn-status-friendship-container .btn-friendship {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 0.80rem;
    line-height: auto;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    box-shadow: none;
}

.btn-status-friendship-container .friendship-accept {
    background: #28a745;
    color: #e9ecef;
}

.btn-status-friendship-container .friendship-accept:hover {
    color: #191919;
    background-color: #ffda00;
}

.btn-status-friendship-container .friendship-refuse {
    background: #e9ecef;
    color: #191919;
}

.btn-status-friendship-container .friendship-refuse:hover {
    color: #ffda00;
    background-color: #191919;
}

.filter-container {
    margin: 0 auto;
}

.filter-user-grp {
    margin: 0 auto;
    width: 100%;
}

.user-list-link {
    text-decoration: none;
    padding: 5px;
    min-width: 25%;
    max-width: 25%;
    color: #191919;
}

.user-list-link:hover {
    text-decoration: none;
    color: #191919;
}

.user-list-link-passive {
    text-decoration: none;
    color: #191919;
    display: flex;
}

.col-friend-auto {
    margin-left: -15px;
    margin-right: -15px;
}

.user-list-link-passive:hover {
    text-decoration: none;
    color: #191919;
}

.card-body {
    padding: 0.75rem;
}

.card-title {
    margin-bottom: 0px;
}
.bestresult-user-card {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.user-container .user-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
}

.user-card .col-md-auto {
    width: auto;
}

.user-card {
    height: 122px;
    width: 100%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.card-text .text-muted {
    word-wrap: break-word;
}

.user-card .badge-rating-writer {
    background: #ffda00;
    color: #191919;
}

.user-card .badge-rating-reader {
    background: #191919;
    color: #ffda00;
}

.user-card .user-info {
    padding-bottom: 0px;
}

.user-card-avatar {
    width: 120px;
    height: 120px;
}

.end-result {
    margin: auto;
}
/** pagination */
.nav-paginator {
    position: relative;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}

.page-link {
    color: #191919;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.page-link:focus {
    box-shadow: none;
}

.page-item.active .page-link {
    background: #ffda00;
    color: #191919;
    border-color: #ffda00;
}
.list-bottom-ajax {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: -webkit-linear-gradient(transparent, #ffda00);
    background: -moz-linear-gradient(transparent, #ffda00);
    background: -o-linear-gradient(transparent, #ffda00);
    background: linear-gradient(transparent, #ffda00);
}
.compass-listuser {
    margin: auto;
    line-height: 1.5;
    font-size: 1.45rem;
}

/** profile */
.btn-add-friend-profile {
    margin-top: 5px;
}

.user-friend-container {
    display: flex;
    flex-flow: row wrap;
    background-color: #ffffff;
    padding: 5px;
}

.btn-status-friendship-container-profile {
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
}

.btn-status-friendship-container-profile .friendship-accept {
    width: 49%;
    margin: auto;
}

.btn-status-friendship-container-profile .friendship-refuse {
    margin: auto;
    width: 49%;
}

.title-friends-container {
    width: 100%;
    padding-left: 10px;
}

.user-friend-list-item {
    min-width: 25%;
    max-width: 25%;
    height: auto;
    padding: 1px;
}

.user-friend-thumbnail-text {
    position: absolute;
    bottom: 0;
    color: #ffda00;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    word-wrap: break-word;
}

.user-friend-list-item-media {
    width: 100%;
    height: auto;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.user-friend-list-item-media:hover {
    -webkit-filter: sepia(0);
    filter: sepia(0);
}

.user-friend-thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
}

.profile-bio {
    height: auto;
}

/* votes */
.main-card {
    width: 100%;
}
.main-card .card-body {
    display: flex;
    flex-direction: row;
}
.home-vote-link {
    color: #000000;
    width: 100%;
    padding: 3px 0;
}
.home-vote-link:hover {
    color: #000000;
    text-decoration: none;
}
.vote-spoiler {
    height: 100%;
    margin: 0;
}
.vote-card-img-active {
    -webkit-filter: blur(3px) sepia(100%);
    filter: blur(3px) sepia(100%);
}
.vote-card-img-depleted {
    -webkit-filter: sepia(0%);
    filter: sepia(0%);
}
.vote-card-img {
    height: 122px;
    width: 122px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.vote-card-img:hover {
    -webkit-filter: blur(0px);
    filter: blur(0px);
}
.vote-card-img:hover .vote-timer-spoiler {
    display: none;
}
.vote-timer-spoiler {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: auto;
    top: 40%;
    left: 0;
    z-index: 3;
    color: #ffffff;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
}
.vote-avatar {
    height: 32px;
    width: 32px;
    border-radius: 20px;
}
.vote-author-link:hover {
    text-decoration: underline;
}