@media screen and (max-width: 1065px) {
    .user-container  {
        min-width: 50%;
    }
}
@media screen and (max-width: 908px) {
    .col-profile {
        min-width: 100%;
        padding-bottom: 5px;
    }
    .user-card {
        height: auto;
    }
    .user-container  {
        min-width: 100%;
    }
}