@media screen and (max-width: 1065px) {
    .user-container {
        min-width: 50%;
    }
}

@media screen and (max-width: 1570px) {
    .user-list-link {
        min-width: 33%;
        max-width: 33%;
    }
}

@media screen and (max-width: 1180px) {
    .user-list-link {
        min-width: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 908px) {

    .col-profile {
        min-width: 100%;
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .user-card {
        height: auto;
    }

    .profile-card {
        width: auto;
    }

    .main-row-alert {
        text-align: left;
    }

    .user-card .col-profile-resp {
        text-align: center;
        width: 100%;
    }

    .user-card .profile-media-resp {
        width: 100%;
        padding-top: 5px;
    }

    .user-card .col-media-profile-resp .user-card-avatar {
        margin: 0 auto;
    }

    .profile-row-card {
        margin-left: 0px;
        margin-right: 0px;
    }

    .user-friend-list-item {
        min-width: 33%;
        max-width: 33%;
    }

    .user-list-link {
        min-width: 100%;
        max-width: 100%;
    }

    .btn-status-friendship-container {
        flex-direction: column;
        height: 100%;
        top: 0;
        width: auto;
    }

    .btn-status-friendship-container .btn-friendship {
        padding-top: 25%;
        padding-bottom: 25%;
        margin: auto 0px;
    }

    .index-row {
        flex-direction: column;
        height: 100vh;
    }

    .left-login {
        width: 100%;
        max-width: 100%;
    }

    .map-container {
        width: 100%;
    }

    #map {
        height: 100%;
    }
}