@media screen and (max-width: 1065px) {
    .user-container  {
        min-width: 50%;
    }
}
@media screen and (max-width: 908px) {
    .col-profile {
        min-width: 100%;
        padding-bottom: 5px;
    }
    .user-card {
        height: auto;
    }
    .user-list-link  {
        min-width: 100%;
        max-width: 100%;
    }
    .index-row {
        flex-direction: column;
        height: 100vh;
    }
    .left-login {
        width: 100%;
        max-width: 100%;
    }
    .map-container {
        width: 100%;
    }
    #map {
        height: 100%;
    }
}