<div class="alert alert-dismissible alert-success main-alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <i class="fas fa-user-circle"></i> Friend request sent!
</div>