<div class="alert alert-dismissible alert-success main-alert main-row-alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <i class="fas fa-map-marker-alt"></i> Position updated with success [{{ app.user.currentLocation.city }},
    {{ app.user.currentLocation.country }}, {{ app.user.currentLocation.coord }}]
</div>