{% extends 'base.html.twig' %}

{% block title %}Settings - Strapp.xyz{% endblock %}

{% block body %}
<main role="main" class="container-fluid main-content">
    <h2>Settings</h2>
    <div class="row">
        <div class="card w-100">
            <button type="button" class="btn btn-standard" data-toggle="modal" data-target="#exampleModalLong">
                Delete account
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Account closing</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <i class="fas fa-exclamation-triangle"></i> You are about to close your account. Your profile, profile picture, posts, votes and commentaries will be deleted in the process. Do you wish to continue?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <a href="{{path('home_deleteaccount')}}" class="btn btn-danger">I understand, close my account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}